extends layout

block content
    h1= title

    ul
        each bi in bookinstance_list
            li
                a(href=bi.url) #{bi.book.title} : #{bi.imprint} -
                if bi.status=='Available'
                    span.text-success #{bi.status}
                else if bi.status=='Maintenance'
                    span.text-danger #{bi.status}
                else
                    span.text-warning #{bi.status}
                if bi.status!='Available'
                    span  (Due: #{bi.due_back_formatted} )

        else
            li There are no book copies in this library.
